
<style>
    div {
        font-family: Verdana;
    }

    #vizat {
        background-color: coral;
        color: white;
        padding-left: 20px;
    }

    .april {
        background-color: gold;
        height: 100px;
        border: 1px solid black;
        color: white;
        padding-left: 20px;
        margin-top: 20px;
    }
</style>

<h1> AAB </h1>
<h2> AAB </h2>
<h3> AAB </h3>
<h4> AAB </h4>
<h5> AAB </h5>
<h6> AAB </h6>

<div style="background-color: aqua;">
    Liberalizmi bla bla "" haha
</div>

<div id="vizat">
    A po bohet?
</div>

<div id="vizat">
    A po bohet 222?
</div>

<div class="april">
    Something

</div>



<div class="april">

    something
</div>

<a href="https://www.google.com"> GOOGLE</a>
<input type="text" value="enis" />

<table class="table table-bordered table-dark" >
    <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
    </tr>
    <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
    </tr>
</table>
